<div class="overflow-x-auto">
    <div style="min-width: @MinWidth">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string MinWidth { get; set; } = "640px";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
